/*
  # theme.sass
  admin, frontの共通するクラスを定義
  色,文字サイズなどアピアランスに関するクラスを定義
  */


/*
  # h1
  ヘッダの縦中央にみせるためpadding-topを追加  
  font-sizeをあげる
  */


article
  +outer-container()
  margin-bottom: 0
  padding-bottom: 0

#grand_menu
  margin-left: 10px

#grand_menu a
  float: left
