/*
  # theme.sass
  admin, frontの共通するクラスを定義
  色,文字サイズなどアピアランスに関するクラスを定義
  */


/*
  # h1
  ヘッダの縦中央にみせるためpadding-topを追加  
  font-sizeをあげる
  */


article
  +outer-container()
  min-width: 960px
  margin-bottom: 0
  padding-bottom: 0
  text-align: center

#grand_menu
  margin-bottom: 2rem

#grand_menu a
  float: left
