.DS_Store
bower.json.tmp
bower.json-e
package.json-e
npm-debug.log
.sass-cache
composer.phar
composer.lock
memory

node_modules
vendor
sys-common

js/*
docs/*

spec/js/*

/.htaccess
/admin/.htaccess
/api/.htpasswd
/index.html
/index.php

/mobile/include/env.php

!.gitkeep
!.htaccess.sample
