/*
  # pages/front/Building.sass
  front/Building.jsxに関するクラスを定義  
  prefixには`pf-Building`を付与
  */

article#BuildingDetail
  position: relative
  overflow: hidden
  -webkit-overflow-scrolling: touch

  section
    h1

    &:nth-of-type(1)
      margin-top: 160px

    &:nth-of-type(2)
      margin-top: 0px

    &:nth-of-type(3)
      opacity: 0
      h1
        opacity: 0
        +transform(scale(1.1))
        +transition(all 4s ease-in-out)
      +transition(all 3s ease-in-out)
      margin-top: 170px
      &.posi
        opacity: 1
        h1
          opacity: 1
          +transform(scale(1.0))

    &:nth-of-type(4)
      opacity: 0
      h1
        opacity: 0
        +transform(scale(1.1))
        +transition(all 4s ease-in-out)
      +transition(all 3s ease-in-out)
      margin-top: 240px
      &.posi
        opacity: 1
        h1
          opacity: 1
          +transform(scale(1.0))

    &:nth-of-type(5)
      opacity: 0
      h1
        opacity: 0
        +transform(scale(1.1))
        +transition(all 4s ease-in-out)
      +transition(all 3s ease-in-out)
      margin-top: 280px
      &.posi
        opacity: 1
        h1
          opacity: 1
          +transform(scale(1.0))
          opacity: 1

  #plx01
    top: 300px
    left: 0
    z-index: -100

  #plx02
    top: 150px
    right: 0
    z-index: -50

  #plx03
    top: 1180px
    right: 0
    opacity: 0
    +transition(all .5s ease-in-out)
    &.posi
      opacity: 1

  #plx03b
    top: 1260px
    right: 210px
    opacity: 0
    +transition(all 0.5s ease-in-out)
    &.posi
      opacity: 1

  #plx04
    top: 1880px
    left: 0
    opacity: 0
    +transition(all 0.5s ease-in-out)
    &.posi
      opacity: 1

  #plx04b
    top: 1960px
    left: 210px
    opacity: 0
    +transition(all 0.5s ease-in-out)
    &.posi
      opacity: 1

  #plx05
    top: 2380px
    right: 0
    opacity: 0
    +transition(all 0.5s ease-in-out)
    &.posi
      opacity: 1

  #plx05b
    top: 2460px
    right: 210px
    opacity: 0
    +transition(all 0.5s ease-in-out)
    &.posi
      opacity: 1

  #plx06
    top: 700px
    z-index: -100

  #plx07
    top: 2860px
    z-index: -100
