/*
  # pages/front/Building.sass
  front/Building.jsxに関するクラスを定義  
  prefixには`pf-Building`を付与
  */

article#CompanyDetail

  section
    table
      padding-top: 0
      font-size: $base-font-size
      td
        vertical-align: top
        border-top: 1px solid #999
        line-height: $base-spacing * 1.5
      td:first-child
        width: 12rem
    &:nth-of-type(1)
      padding-top: 220px
      width: 70%

    &:nth-of-type(2)
      color: white
      margin-top: 280px
      width: 100%
      text-align: right
      h1
        color: white
      div.ceo
        margin-bottom: 3rem
        p
          margin-right: 0.5rem
        img
          border: 1px solid white

    &:nth-of-type(3)
      margin-top: 200px
      table
        padding-top: 0

    &:nth-of-type(4)
      margin-top: 100px
      width: 80%
      h1
        width: 240px

    &:nth-of-type(5)
      margin-top: 200px

    &:nth-of-type(6)
      width: 90%
      margin-top: 0px
      font-size: $base-font-size * 0.3
      h3
        clear: both
        line-height: $small-spacing
      img
        float: left
        margin-right: $base-spacing
        margin-bottom: $base-spacing

  div.wrapper
    position: relative
    width: 1040px
    margin: 0 auto

  #plx01
    top: 340px
    left: auto
    z-index: -100

  #plx02
    top: 420px
    z-index: -50
    background-image: url('../imgs/detail/company/bg_detail.png')
    opacity: 1

  #plx03
    top: 1400px
    right: 0

  #plx03b
    top: 1400px
    right: 210px

  #plx04
    top: 2100px
    left: 0

  #plx04b
    top: 2100px
    left: 210px

  #plx05
    top: 2980px
    right: 0

  #plx05b
    top: 2980px
    right: 210px

  #plx06
    top: 900px
    width: 1040px 
    height: 1040px
    z-index: -100
    background-image: url('../imgs/bg.png')
    background-size: 100%
    opacity: 1

  #plx07
    top: 3800px
    width: 1040px 
    height: 1040px
    z-index: -100
    background-image: url('../imgs/bg.png')
    background-size: 150%
    opacity: 1
