/*
  # pages/front/BuildingDetail.sass
  front/BuildingDetail.jsxに関するクラスを定義  
  prefixには`pf-BuildingDetail`を付与
  */

article#BuildingDetail
  position: relative
  margin-top: 20rem

  background-image: url('../imgs/detail/bg_detail.svg'), url('../imgs/detail/bg_company.jpg'), url('../imgs/detail/bg_company02.jpg'), url('../imgs/detail/bg_company03.jpg')

  background-position: left 0px top 40px, left 0px top 160px, left 0px top 620px, left 0 bottom 0px

  background-size: 1040px auto, 600px auto, 1040px auto, 1040px auto

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat


#building01
  position: absolute
  top: 1580px
