/*
  # pages/front/BuildingDetail.sass
  front/BuildingDetail.jsxに関するクラスを定義  
  prefixには`pf-BuildingDetail`を付与
  */

article#BuildingDetail
  position: relative
  margin-top: 20rem

  background-image: url('../imgs/detail/bg_detail.svg'), url('../imgs/detail/bg_building.jpg'), url('../imgs/detail/bg_company02.jpg'), url('../imgs/detail/bg_company03.jpg')

  background-position: left 0px top 40px, left 0px top 160px, left 0px top 620px, left 0 bottom 0px

  background-size: 1040px auto, 800px auto, 1040px auto, 1040px auto

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat


section#building01

section#building02
  padding-top: 10rem

section#building03
  padding-top: 44rem

section#building04
  padding-top: 16rem

section#building05
  padding-top: 20rem
  padding-bottom: 10rem

article#BuildingDetail
  div#add01
    position: absolute
    top: 1200px
    right: 0px

  div#add02
    position: absolute
    top: 2000px
    left: 0px

  div#add03
    position: absolute
    top: 2400px
    right: 0px
