/*
  # pages/front/Detail.sass
  詳細ページに関するクラスを定義  
  prefixには`pf-Detail`を付与
  */

article.pf-Detail
  margin-top: 20rem

article.pf-Detail
  section
    margin: 0 $base-spacing * 3

article.pf-Detail
  h1
    font-size: $base-font-size * 1.6
    font-family: $YuMincho-font-family
  p
    color: #555
    font-size: $base-font-size * 0.9
    line-height: $base-spacing * 1.25

article.pf-Detail .odd
  text-align: right

article.pf-Detail .odd-white
  color: white
  p
    color: white
