/*
  # pages/front/Home.sass
  front/Home.jsxに関するクラスを定義  
  prefixには`pf-Home`を付与
  */

.menuTop
  td
    vertical-align: top
    p
      margin-bottom: 1.2rem

table
  margin-top: 0
  padding-top: 580px

#mainImage
  position: absolute
  display: table-cell
  width: 100%
  height: 560px
  left: 0
  right: 0
  text-align: center
  vertical-align: middle
  background-image: url('../imgs/pages/top/home.gif');
  background-size: auto 560px
  background-position: center bottom
  z-index: -10
  img#homeTitle
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    +transform(translateY(30px))
    opacity: 0
    +transition(all 5s ease-in-out 1s)
    &.posi
      +transform(translateY(0px))
      opacity: 1
  
#cover
  position: absolute
  width: 100%
  height: 630px
  left: 0
  right: 0
  text-align: center
  vertical-align: middle

  background-position: center bottom
  background-size: auto 630px

#canvas
  position: absolute
  left: 0
  right: 0
  bottom: 0
  max-width: 1040px 
  min-width: 960px
  margin: 0 auto
  overflow: hidden

.bg-cleaning
  +fadeIn()
  background-image: url('../imgs/pages/covers/cleaning.png');

.bg-building
  +fadeIn()
  background-image: url('../imgs/pages/covers/building.png');

.bg-mansion
  +fadeIn()
  background-image: url('../imgs/pages/covers/mansion.png');

.bg-driving
  +fadeIn()
  background-image: url('../imgs/pages/covers/driving.png');


#ActionPlan
  +outer-container
  width: 960px
  color: $color_works-base
  border: 2px solid $color-works-base
  border-radius: 5px
  margin: $base-spacing auto
  padding: $small-spacing / 2
  & > h2
    float: left
    display: block
    text-align: center
    vertical-align: middle
    padding-left: 2rem
    padding-top: 1.5rem
  & > div
    padding-left: 16rem
    a
      line-height: 1.5rem
      vertical-align: middle 
    .fa-stack
      line-height: 1.5rem
      height: 1.5rem
      width: 3rem
      vertical-align: text-top
