/*
  # pages/front/Home.sass
  front/Home.jsxに関するクラスを定義  
  prefixには`pf-Home`を付与
  */

.menuTop
  margin-top: 2rem
  td
    vertical-align: top
    p
      margin-bottom: 1.2rem

#cover
  background-color: #ffffff
  width: 100%
  height: 630px
  text-align: center

  background-position: left -200px top 0, right 200px top 0
  background-size: contain, contain 
  background-repeat: no-repeat, no-repeat

#canvas
  max-width: 1040px 
  min-width: 960px
  margin: 0 auto
  overflow: hidden

.bg-cleaning
  +fadeIn()
  background-image: url('../imgs/pages/covers/cleaning_l.png'), url('../imgs/pages/covers/cleaning_r.png')

.bg-building
  +fadeIn()
  background-image: url('../imgs/pages/covers/building_l.png'), url('../imgs/pages/covers/building_r.png')

.bg-mansion
  +fadeIn()
  background-image: url('../imgs/pages/covers/mansion_l.png'), url('../imgs/pages/covers/mansion_r.png')

.bg-driving
  +fadeIn()
  background-image: url('../imgs/pages/covers/driving_l.png'), url('../imgs/pages/covers/driving_r.png')
