/*
  # layouts/front/Header.sass
  front/Header.jsxに関するクラスを定義  
  prefixには`lf-Header`を付与
  */

/*
  # #Front > header
  12のカラム navは右揃え  
  navの右にパディングを追加
  */

& > header
  position: fixed
  top: 0
  z-index: 1000
  margin: $small-spacing auto
  padding: $small-spacing $base-spacing 0

/*
  # #Front > header > div
  ロゴと問い合わせ電話番号
  両方とも画像の配置
  */

& > header
  div
    text-align: right
    padding: 0 $small-spacing
    a
     float: left 
    img:last-child
     float: right

/*
  # #Front > header > div > div
  サイト内検索フォーム
  */

& > header div
    div
      display: inline-block
      margin-top: $small-spacing / 2
      margin-right: $base-spacing
      input
        width: $base-spacing * 8
        border: 2px solid black
        font-size: $small-font-size
      i
        margin-left: - $base-spacing * 2
        cursor: pointer

/*
  # #Front > header > nav
  グランドメニュー
  */

& > header
  nav
    margin-top: $small-spacing
    padding: 1rem
    font-size: $small-font-size
    border: 3px solid black
    border-radius: $base-border-radius * 2
    background-color: rgba(255,255,255, 0.85)
    +span-columns(12)
    li
      float: left
      padding: 0 ($small-spacing * 1.5)
      border-right: 1px solid black
      cursor: pointer
      &:last-child
        border-right: none
    & a
      color: $color-black
